@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html {
  scroll-behavior: smooth;
}
.text-poppins {
  font-family: 'Poppins';
}
.text-biru {
  color: #339BEB;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 24px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999;
}
.nav-container.active {
  background-color: #fff;
  box-shadow: 0 2px 25px rgba(0,0,0,0.1);
}
.nav-container a:hover {
  text-decoration: none;
  color: #339BEB;
}
.nav-container .nav-logo {
  position: relative;
  margin: auto 0;
}
.nav-container .nav-logo h3 {
  margin: 0;
  padding: 0;
}
.nav-container .nav-logo h3 a {
  font-family: 'Anton';
  font-weight: 400;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.nav-container.active .nav-logo h3 a {
  font-family: 'Anton';
  font-weight: 400;
  color: #000;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.nav-container .nav-box {
  position: relative;
  transition: 0.5s ease;
  overflow: hidden;
}
.nav-container .nav-box1 .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
  list-style: none;
}
.nav-container .nav-box1 .nav-list li {
  position: relative;
  padding: 10px 12px;
  text-align: center;
  transition: 0.5s ease;
  border-radius: 4px;
}
.nav-container .nav-box1 .nav-list li.active {
  background-color: #1C3B5A;
}
.nav-container.active .nav-box1 .nav-list li.active a,
.nav-container.active .nav-box1 .nav-list li.active i,
.nav-container .nav-box1 .nav-list li.active a,
.nav-container .nav-box1 .nav-list li.active i {
  color: #fff;
}
.nav-container .nav-box1 .nav-list li a {
  display: flex;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.6px;
  font-family: 'Poppins';
}
.nav-container.active .nav-box1 .nav-list li a {
  color: #000
}
.nav-container .nav-box1 .nav-list li a i {
  display: none;
}
.nav-container .nav-box2 {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-box2 .nav-box-icon {
  position: relative;
  margin: auto 10px;
}
.nav-container .nav-box2 .nav-box-icon a i {
  color: #fff;
  font-size: 19px;
  margin: 0 2px;
  transition: 0.5s ease;
}
.nav-container.active .nav-box2 .nav-box-icon a i {
  color: silver;
}
.nav-container .nav-box2 .nav-box-icon a i:hover {
  color: #1C3B5A;
  transform: scale(1.1);
}
.nav-container .nav-box2 .nav-toggle {
  display: none;
}
.container-custom {
  position: relative;
  margin: 0 30px;
  overflow: hidden;
}
header {
  position: relative;
  width: 100%;
  background-image: url(../img/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  overflow: hidden;
}
header .header-content {
  position: relative;
  margin: 60px 0;
}
.button {
  position: relative;
  color: #000;
  background-color: transparent;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.button:hover {
  text-decoration: none;
  color: #000;
}
.button-white {
  position: relative;
  background-color: #fff;
}
#about {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#about .about-content {
  position: relative;
  margin: 100px 0 40px 0;
  padding: 0 35px;
}
.card-custom {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin: 10px 0;
  transition: 0.5s;
  overflow: hidden;
}
.card-custom .card-custom-header {
  position: relative;
  width: 100%;
  padding: 30px;
  background-color: #1C3B5A;
  margin-bottom: 10px;
  transition: 0.5s;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}
.button-border-orange {
  position: relative;
  border: 1px solid #F99D17;
  padding: 10px;
  color: #F99D17;
}
.button-orange-hover {
  transition: 0.5s;
}
.button-orange-hover:hover  {
  background-color: #F99D17;
  color: #fff;
}
.card-custom .card-custom-body {
  position: relative;
  width: 100%;
  padding: 10px;
}
#services {
  position: relative;
  width: 100%;
  background-color: #1C3B5A;
  overflow: hidden;
}
#services .services-content {
  position: relative;
  margin: 100px 0 40px 0;
  padding: 0 35px;
}
#portfolio {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#portfolio .portfolio-content {
  position: relative;
  margin: 100px 0 40px 0;
  padding: 0 35px;
}
.portfolio-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px 0;
}
.portfolio-box .portfolio-text {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}
.portfolio-box .portfolio-text span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.portfolio-box:hover .portfolio-text {
  top: 0;
}
#team {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#team .team-content {
  position: relative;
  margin: 100px 0 40px 0;
  padding: 0 35px;
}
#commitee {
  position: relative;
  width: 100%;
  background-color: #1C3B5A;
  overflow: hidden;
}
#commitee .commitee-content {
  position: relative;
  margin: 100px 0 40px 0;
  padding: 0 35px;
}
footer {
  position: relative;
  width: 100%;
}
footer .footer-content {
  position: relative;
  padding: 30px 35px;
}
.text-orange {
  color: #F99D17;
}
@media screen and (max-width: 768px) {
  .nav-container .nav-box1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 52%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    transform: translateX(-100%);
  }
  .nav-container .nav-box1.active {
    transform: translateX(0);
    box-shadow: 0 2px 25px rgba(0,0,0,0.1);
  }
  .nav-container .nav-box1 .nav-list {
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    margin: 80% 0;
  }
  .nav-container .nav-box1 .nav-list li {
    width: 100%;
    text-align: left;
    padding: 15px 24px;
    display: flex;
    flex-direction: row;
    border-radius: 0;
  }
  .nav-container .nav-box1 .nav-list li a {
    font-size: 14px;
    color: #000;
  }
  .nav-container .nav-box1 .nav-list li a i {
    display: flex;
  }
  .nav-container .nav-box2 {
    display: flex;
  }
  .nav-container .nav-box2 .nav-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
    overflow: hidden;
    cursor: pointer;
  }
  .nav-container .nav-box2 .nav-toggle span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.5s ease;
    margin: 2px 0;
    border-radius: 4px;
  }
  .nav-container.active .nav-box2 .nav-toggle span {
    background-color: #000;
  }
  .nav-container .nav-box2 .nav-toggle.active span:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-container .nav-box2 .nav-toggle.active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .nav-container .nav-box2 .nav-toggle.active span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  #features .features-content,
  #services .services-content,
  #portfolio .portfolio-content,
  #team .team-content,
  #price .price-content {
    padding: 0;
  }
  footer .footer-content {
    padding: 20px 0;
  }
}
